* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
  }
  
  #nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #34507f !important;
  }
  
  SVG {
      color: white;
  }
  
  .navbar-brand {
    font-size: 1.7rem;
    color: white !important;
  }
  
  .navbar-nav li {
    padding: 0 10px;
  }
  
  .home {
    color: rgb(19, 168, 194) !important;
  }
  
  .navbar-nav li a {
    color: white;
  }
  
  .nav-link.border.border-info {
    border-radius: 30px !important;
    border: 2px solid rgb(19, 168, 194) !important;
  }
  